 header .profile_container {
     background: rgb(201, 201, 201);
     height: 30px;
     width: 30px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
 }